<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="dashboard-content">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="dashboard-list-box">
    <h4 class="gray">All hotels</h4>
    <div class="table-box">
    <table class="basic-table booking-table">
    <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>

    <th>Action</th>
    </tr>
    </thead>

    <tr *ngFor="let i of hotel; let u=index">
        <td>{{i.idHotel}}</td>
        <td>{{i.nom}}</td>
        <td>{{i.description}}</td>
        <td>{{i.prix}}</td>
        <td style="margin: 20px;"><img style="width: 20%; " src='{{ "http://localhost:8089/Images/" + i.image}}'/></td>
        <a  class="button gray"><i class="sl sl-icon-close"  (click)="delete(i.idHotel,u)"></i></a>
        <a [routerLink]="['/edithotel',i.idHotel]"  class="button gray"><i class="sl sl-icon-pencil"></i></a>
    </tr>

    </table>
    </div>
    </div>
    <div class="pagination-container">
    <nav class="pagination">
    <ul>
    <li><a href="#" class="current-page">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>

    </ul>
    </nav>
    </div>
    </div>
    </div>
    </div>
    <app-footer></app-footer>
