<div class="dashboard-nav">
    <div class="dashboard-nav-inner">
    <ul>
    <li class="active"><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
    <li><a href="dashboard-my-profile.html"><i class="sl sl-icon-user"></i> Edit Profile</a></li>
    <li><a href="dashboard-addtour.html"><i class="sl sl-icon-plus"></i> Add Tour</a></li>
    <li>
    <a><i class="sl sl-icon-directions"></i> Transport</a>
    <ul>
    <li><a href="/listtransport">Liste of transports <span class=""></span></a></li>
    <li><a href="/addtransport">New Transport<span class=""></span></a></li>

    </ul>
    </li>



    <li>
        <a><i class="sl sl-icon-list"></i> Booking</a>
        <ul>
        <li><a href="/listbooking">Booking List <span class=""></span></a></li>
      
    
        </ul>
        </li>


    <li>
        <a><i class="sl sl-icon-home"></i> Guest Houses</a>
        <ul>
        <li><a href="/listmaisonhhote">List Guest Houses <span class=""></span></a></li>
        <li><a href="/addmaisonhote">New Guest House<span class=""></span></a></li>
        </ul>
        </li>

        <li>

            <li>
                <a><i class="sl sl-icon-chart"></i> Hotels</a>
                <ul>
                <li><a href="/listmaisonhhote">List Hotels <span class=""></span></a></li>
                <li><a href="/addmaisonhote">New Hotel<span class=""></span></a></li>
                </ul>
            </li>
        
            <li>         
            <a><i class="sl sl-icon-present"></i> Offers</a>
            <ul>
            <li><a href="/alloffre">List Offers <span class=""></span></a></li>
            <li><a href="/addoffre">New Offer<span class=""></span></a></li>
            </ul>
        </li>  
            
            
                    

    <!-- <li><a href="dashboard-booking.html"><i class="sl sl-icon-list"></i> Booking List</a></li>
    <li><a href="dashboard-history.html"><i class="sl sl-icon-folder"></i> History</a></li>
    <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li>
    <li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li> -->
    </ul>
    </div>
    </div>
