


  <footer>
  <div class="footer-upper">
  <div class="container">
  <div class="newsletter text-center">
  <div class="section-title section-title-white text-center">
   <h2>Newsletter Signup</h2>
  <div class="section-icon section-icon-white">
  <i class="flaticon-diamond"></i>
  </div>
  <p>Subscribe to our weekly newsletter to get updated on our latest deals</p>
  </div>
  <form>
  <div class="form-group">
  <input type="text" class="form-control" id="search">
  <a href="#"><span class="search_btn"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sign Up</span></a>
  </div>
  </form>
  </div>
  <div class="footer-links">
  <div class="row">
  <div class="col-lg-3">
  <div class="footer-about footer-margin">
  <div class="about-logo">
  <img src="assets/images/Yatra-white.png" alt="Image">
  </div>
  <p>Yatra is one of the main players in online travel sales in Tunisia offering more than 10,000 flight routes from 400 airlines and more than 2.1 million hotels in 40,000 destinations. Weekends, stays, flights, hotels...</p>
  <div class="about-location">
  <ul>
  <li><i class="flaticon-maps-and-flags" aria-hidden="true"></i> Tunisia</li>
  <li><i class="flaticon-phone-call"></i> (+216)75 000 000</li>
  <li><i class="flaticon-mail"></i> <a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="04706b71766a707665726168447061777069656d682a676b69">Yatra@google.com</a></li>
  </ul>
  </div>
  <div class="footer-social-links">
  <ul>
  <li class="social-icon"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  <li class="social-icon"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  <li class="social-icon"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  <li class="social-icon"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
  <li class="social-icon"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  </ul>
  </div>
  </div>
  </div>
  <div class="col-lg-3">
  <div class="footer-links-list footer-margin">
  <h3>Browse Tour</h3>
  <ul>
  <li><a href="#">Cyclades <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  <li><a href="#">North Ionian <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  <li><a href="#">Sporades <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  <li><a href="#">View all Destinations <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  <li><a href="#">View all Yatchs <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  <li><a href="#">View all Cruises <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  </ul>
  </div>
  </div>
  <div class="col-lg-3">
  <div class="footer-recent-post footer-margin">
  <h3>Recent Posts</h3>
  <ul>
  <li>
  <div class="recent-post-item">
   <div class="recent-post-image">
  <img src="assets/images/bucket1.jpg" alt="Image">
  </div>
  <div class="recent-post-content">
  <h4><a href="#">A trip to heaven</a></h4>
  <p>June 17, 2022</p>
  </div>
  </div>
  </li>
  <li>
  <div class="recent-post-item">
  <div class="recent-post-image">
  <img src="assets/images/bucket2.jpg" alt="Image">
  </div>
  <div class="recent-post-content">
  <h4><a href="#">Diving in Atlantic</a></h4>
  <p>June 17, 2022</p>
  </div>
  </div>
  </li>
  <li>
  <div class="recent-post-item">
  <div class="recent-post-image">
  <img src="assets/images/bucket3.jpg" alt="Image">
  </div>
  <div class="recent-post-content">
  <h4><a href="#">Travellers History</a></h4>
  <p>June 17, 2023</p>
  </div>
  </div>
  </li>
  </ul>
  </div>
  </div>
  <div class="col-lg-3">
  <div class="footer-links-list">
  <div class="footer-instagram">
  <h3>Instagram</h3>
  <ul>
  <li><img src="assets/images/insta1.jpg" alt="Image"></li>
  <li><img src="assets/images/insta2.jpg" alt="Image"></li>
  <li><img src="assets/images/insta3.jpg" alt="Image"></li>
  <li><img src="assets/images/insta4.jpg" alt="Image"></li>
  <li><img src="assets/images/insta5.jpg" alt="Image"></li>
  <li><img src="assets/images/insta6.jpg" alt="Image"></li>
  <li><img src="assets/images/insta7.jpg" alt="Image"></li>
  <li><img src="assets/images/insta8.jpg" alt="Image"></li>
  <li><img src="assets/images/insta9.jpg" alt="Image"></li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="copyright">
  <div class="container">
  <div class="row">
  <div class="col-lg-6">
  <div class="copyright-content">
  <p>2023 <i class="fa fa-copyright" aria-hidden="true"></i> Yatra by <a href="https://www.cyclonethemes.com/" target="_blank"> The Codevelopers</a></p>
  </div>
  </div>
  <div class="col-lg-6">
  <div class="payment-content">
  <ul>
  <li>We Accept</li>
  <li>
   <img src="assets/images/payment1.png" alt="Image">
  </li>
  <li>
  <img src="assets/images/payment2.png" alt="Image">
  </li>
  <li>
  <img src="assets/images/payment3.png" alt="Image">
  </li>
  <li>
  <img src="assets/images/payment4.png" alt="Image">
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </footer>

