<section class="login">
        <!-- <form ngForm #f="ngForm"  enctype="multipart/form-data">
                <div class="form-group" class="col-lg-4">
                  <label for="exampleInputEmail1">email</label>
                  <input type="text" class="form-control"   placeholder="Enter nom"  [(ngModel)]="login.email"  name="email">
                </div>
                <div class="form-group" class="col-lg-4">
                        <label for="exampleInputEmail1">password</label>
                        <input type="text" class="form-control"   placeholder="Enter nom"  [(ngModel)]="login.password"  name="password">
                      </div>
                <a  type="button" class="btn btn-primary"(click)="save()" >Submit</a>
        </form> -->
        <div class="container" style="width: 30%;">
        <div class="row">
        <div >
        <div class="login-form">
        <form>
        <div class="row">
        <div class="col-lg-12">
        <div class="form-title">
        <h2>Login</h2>
        <a  [routerLink]=" ['/register']"><p>Register if you don't have an account.</p></a>
        </div>
        </div>
        <div class="form-group col-lg-12">
        <label>Email</label>
        <input type="email" class="form-control" id="Name1" placeholder="Enter  your email i" [(ngModel)]="login.email"  name="email">
        </div>
        <div class="form-group col-lg-12">
        <label>Password</label>
        <input type="password" class="form-control" id="email1" placeholder="Enter correct password  "[(ngModel)]="login.password"  name="password">
        </div>
        <div class="col-lg-12">
        <div class="checkbox-outer">
        <input type="checkbox" name="vehicle2" value="Car"> Remember Me?
        </div>
        </div>
        <div class="col-lg-12">
        <div class="comment-btn">
        <a  class="btn-blue btn-red" (click)="save()" >Login</a>
        </div>
        </div>
        <div class="col-lg-12">
        <div class="login-accounts">
        <a href="forgot-password.html" class="forgotpw">Forgot Password?</a>
        <h3>Login using</h3>
        <div class="login-accounts-btn">
        <a class="btn-blue" href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        <a class="btn-blue btn-google" href="#"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
        <a class="btn-blue btn-twit" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        </div>
        </div>
        </div>
        </div>
        </form>
        </div>
        </div>
        <!-- <div class="col-lg-6">
        <div class="login-form">
        <form>
        <div class="row">
        <div class="col-lg-12">
        <div class="form-title">
        <h2>Register</h2>
        <p>Enter your details to be a member.</p>
        </div>
        </div>
        <div class="form-group col-lg-12">
        <label>Name:</label>
        <input type="text" class="form-control" id="Name" placeholder="Enter full name">
        </div>
        <div class="form-group col-lg-12">
        <label>Email:</label>
        <input type="email" class="form-control" id="email" placeholder="abc@xyz.com">
        </div>
        <div class="form-group col-lg-12">
        <label>Phone Number:</label>
        <input type="text" class="form-control" id="date1" placeholder="Select Date">
        </div>
        <div class="form-group col-xs-6">
        <label>Select Password :</label>
        <input type="password" class="form-control" id="date" placeholder="Enter Password">
        </div>
        <div class="form-group col-xs-6 col-left-padding">
        <label>Confirm Password :</label>
        <input type="password" class="form-control" id="phnumber" placeholder="Re-enter Password">
        </div>
        <div class="col-lg-12">
        <div class="checkbox-outer">
        <input type="checkbox" name="vehicle2" value="Car"> I agree to the <a href="#">terms and conditions.</a>
        </div>
        </div>
        <div class="col-lg-12">
        <div class="comment-btn">
        <a href="#" class="btn-blue btn-red">Register Now</a>
        </div>
        </div>
        </div>
        </form>
        </div>
        </div> -->
        </div>
        </div>
        </section>
        