<app-navbar></app-navbar>


<section class="breadcrumb-outer text-center">
  <div class="container">
  <div class="breadcrumb-content">
  <h2>Rent a transport</h2>
  <h4 class="white">We Found: 40 Cars</h4>
  <nav aria-label="breadcrumb">
  <ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Transport Rent</a></li>
  <li class="breadcrumb-item active" aria-current="page">Detail Transport</li>
  </ul>
  </nav>
  </div>
  </div>
  <div class="section-overlay"></div>
  </section>

  <section class="car-destinations">
  <div class="container">
  <div class="detail-content content-wrapper">
  <div class="row align-items-center">
  <div class="col-lg-8">
  <div class="gallery detail-box">

  <div id="in_th_030" class="carousel slide in_th_brdr_img_030 thumb_scroll_x swipe_x ps_easeOutQuint" data-ride="carousel" data-pause="hover" data-interval="4000" data-duration="2000">

  <ol class="carousel-indicators">

  <li data-target="#in_th_030" data-slide-to="0" class="active">

  <img src="assets/images/cars/cars1.jpg" alt="in_th_030_01_sm" />
  </li>

  <li data-target="#in_th_030" data-slide-to="1">

  <img src="assets/images/cars/cars2.jpg" alt="in_th_030_02_sm" />
  </li>

  <li data-target="#in_th_030" data-slide-to="2">

  <img src="assets/images/cars/cars3.jpg" alt="in_th_030_03_sm" />
  </li>
  <li data-target="#in_th_030" data-slide-to="3">

  <img src="assets/images/cars/cars4.jpg" alt="in_th_030_03_sm" />
  </li>
  </ol>

  <div class="carousel-inner" role="listbox">

  <div class="carousel-item active">

    <img style="width: 60%;" src='{{ "http://localhost:8089/transport/Images/" + transport.image}}' alt="in_th_030_03_sm"/>

  </div>


  <div class="carousel-item">

  <img src="assets/images/cars/cars2.jpg" alt="in_th_030_02" />
  </div>


  <div class="carousel-item">

   <img src="assets/images/cars/cars3.jpg" alt="in_th_030_03" />
  </div>

  <div class="carousel-item">

  <img src="assets/images/cars/cars4.jpg" alt="in_th_030_03" />
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-4">
  <div class="destination-content">
  <h3><strong class="color-red-3">{{ transport.prix}}DT</strong> / Day</h3>
  <h6>Economy</h6>
  <h2><a href="car-detail.html">{{ transport.modele}}</a></h2>
  <!-- <p>{{ transport.description}}</p> -->


  <div class="deal-rating">
    <a href="#" class="btn-blue btn-red">Book Now</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
  <div id="content" class="col-lg-8">
  <div class="description detail-box">
  <div class="detail-title">
  <h3>Description</h3>
  </div>
  <div class="description-content">
  <p>{{ transport.description}}</p>
  </div>
  </div>


  </div>
  <div id="sidebar" class="col-lg-4">
  <aside class="detail-sidebar sidebar-wrapper">


  <div class="sidebar-item sidebar-helpline">
  <div class="sidebar-helpline-content">
  <h3>Any Questions?</h3>
   <p>
    <br/>
    <br/>
    <br/>
    <br/>


   </p>
  <p><i class="flaticon-phone-call"></i> (+216)-75 000 000</p>
  <p><i class="flaticon-mail"></i> <a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="681c071d1a061c1a091e0d04281c0d1b1c05090104460b0705">[email&#160;protected]</a></p>
  </div>
  </div>
  </aside>
  </div>
  </div>
  </div>
  </section>
  <app-footerfront></app-footerfront>
