<div class="navigation">
    <div class="container">
    <div class="navigation-content">
    <div class="header_menu">

    <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
    <div class="logo pull-left">
    <a href="/accueil"><img alt="Image" src="assets/images/Yatra-01.png"></a>
    </div>
    <div id="navbar" class="navbar-nav-wrapper">
    <ul class="nav navbar-nav" id="responsive-menu">
    <li class="active">
    <a [routerLink]="['/accueil']">Home <i class=""></i></a>

    </li>
    <li>
    <a [routerLink]="['/booking']">Booking <i class=""></i></a>

    </li>
    <li>
    <a  [routerLink]="['/hotel']">Hotel <i class=""></i></a>

    </li>
    <li>
      <a  [routerLink]="['/maisonhote']">Guest House<i class=""></i></a>

      </li>

    <li>
      <a [routerLink]="['/transport']" >Transport<i class=""></i></a>

      </li>





    </ul>
    </div>
    <div id="slicknav-mobile"></div>
    </nav>
    </div>
    </div>
     </div>
    </div>
