
<div class="search-box clearfix">
  <div class="container">
  <div class="search-outer">
  <div class="search-content">
  <form>
  <div class="row">
  <div class="col-lg-3 col-md-12">
  <div class="search-title d-flex align-items-center justify-content-between">
  <p>Find Your <span>Holiday</span></p>
  <i class="flaticon-sun-umbrella "></i>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="table_item">
  <div class="form-group">
  <select id="custom-select-1" class="selectpicker form-control">
  <option value="0">Destination</option>
  <option value="1">0</option>
  <option value="2">1</option>
  <option value="3">2</option>
  <option value="4">3</option>
  <option value="5">4</option>
  </select>
  <i class="flaticon-maps-and-flags"></i>
  </div>
  <div class="form-group  form-icon">
  <select name="custom-select-2" class="selectpicker form-control" tabindex="1">
  <option value="0">Type</option>
  <option value="1">0</option>
  <option value="2">1</option>
  <option value="3">2</option>
  <option value="4">3</option>
   <option value="5">4</option>
  </select>
  <i class="flaticon-box"></i>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="table_item">
  <div class="form-group">
  <div class='input-group date' id='datetimepicker1'>
  <input type='text' class="form-control" value="dd-mm-yyyy" />
  <i class="flaticon-calendar"></i>
  <span class="input-group-addon">
  <i class="fa fa-calendar" aria-hidden="true"></i>
  </span>
  </div>
  </div>
  <div class="form-group form-icon">
  <div class='input-group date' id='datetimepicker2'>
  <input type='text' class="form-control" value="dd-mm-yyyy" />
  <i class="flaticon-calendar"></i>
  <span class="input-group-addon">
  <i class="fa fa-calendar" aria-hidden="true"></i>
  </span>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-12">
  <div class="table_item table-item-slider">
  <div class="range-slider">
  <div data-min="0" data-max="2000" data-unit="$" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
  <span class="min-value">0 $</span>
  <span class="max-value">2000 $</span>
  <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
  </div>
  <div class="clearfix"></div>
  </div>
  <div class="search">
  <a href="#" class="btn-blue btn-red">SEARCH</a>
  </div>
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
