<section class="swiper-banner">
  <div class="slider">
  <div class="swiper-container">
  <div class="swiper-wrapper">
  <div class="swiper-slide" style="background-image:url(assets/images/slider/slider7.jpg)">
  <div class="swiper-content" data-animation="animated fadeInDown">
  <h2>Book a ticket & Just Leave</h2>
  <h1>Search your next destination</h1>
  <a href="tour-detail.html" class="btn-blue btn-red">View Our Tour</a>
  </div>
  </div>
  <div class="swiper-slide" style="background-image:url(assets/images/slider/slider2.jpg)">
  <div class="swiper-content" data-animation="animated fadeInRight">
  <h2>Cost friendly packages on your way</h2>
  <h1>We offer you better deals</h1>
  <a href="tour-detail.html" class="btn-blue btn-red">View Our Tour</a>
  </div>
  </div>
  <div class="swiper-slide" style="background-image:url(assets/images/slider/slider3.jpg)">
  <div class="swiper-content" data-animation="animated fadeInUp">
  <h2>exciting schemes just a click away</h2>
  <h1>Amazing Santorini 7 days tour</h1>
  <a href="tour-detail.html" class="btn-blue btn-red">View Our Tour</a>
  </div>
  </div>
  </div>
  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="overlay"></div>
  </div>
  </section>
